*.key
*.crt
vendor/
node_modules/
.env
tmp/
sql/
public_html/modules/contrib/*
public_html/sites/default/files/**/*
public_html/themes/contrib/*

/config/sync/smtp.settings.yml

/public_html/themes/custom/compony/theme-partials.php
/public_html/themes/custom/compony//dist

/public_html/sites//files/*

/drush/contrib/*
/vendor/**
/public_html/core/**
/public_html/modules/contrib/**
/public_html/themes/contrib/**
/public_html/profiles/contrib/**
/public_html/libraries/**

/private_files/
/webform_files/